/* login.css */

.login-container {
  width: 900px;
  height: 500px;
  margin: auto; /* Center the container horizontally */
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f9fa; /* Light gray background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  display: flex; /* Use flexbox to arrange items horizontally */
  margin-top: 50px;
  
}

.login-left {
  flex: 1; /* Take up remaining space */
}

.login-bg {
  max-width: 100%; /* Make sure the image doesn't exceed the container width */
}

.login-right {
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: center; /* Center the login form horizontally */
  align-items: center; /* Center the login form vertically */
  
  
}

.login-content {
  max-width: 300px; /* Limit the width of the login form */
  text-align: center; /* Center the content inside the login form */
  margin-left: 60px;
  margin-top: 20px;

  
}

.login-heading {
  margin-bottom: 10px;
  font-size: 34px;
  color: #1E421D ; 
  font-weight: bold;

  
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align form items to center */
  margin-top: 60px;
 
}

.login-label1 {
  margin-bottom: 1px;
  margin-top: 5px;
  color: #000000;
  font-weight: bold;
  text-align: left !important;

}
.login-label2 {
  margin-bottom: 1px;
  margin-top: 25px;
  color: #000000;
  font-weight: bold;
  text-align: left !important;
}


.login-input[type="text"],
.login-input[type="password"] {
  padding: 10px;
  width: 300px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  padding-right: 80px;
  caret-color: transparent;
}
.login-input[type="text"]::placeholder,
.login-input[type="password"]::placeholder {

  padding-left: 30px; /* Adjust the left padding */
  padding-right: 10px; /* Adjust the right padding */
}

.login-input[type="text"]:focus,
.login-input[type="password"]:focus {
  caret-color: #000; /* Set the color of the cursor */
}
.login-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #1E421D;
  color: #fff;
  width: 105px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #1E421D;
}
.login-icon {
  width: 20px; /* Adjust the width of the icons */
  height: 20px; /* Adjust the height of the icons */
  margin-right: 10px; /* Add margin to separate the icon from the input field */
}
.input-container {
  position: relative;
  margin-top: 5px;
}

.input-icon {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: 10px; /* Adjust the position of the icon */
  width: 20px; /* Adjust the width of the icon */
  height: 20px; /* Adjust the height of the icon */
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}